.introduction-self {
    color: #D80621;
    margin-top: 127px;
    text-align: center;
    font-size: 100px;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.intro-paragraph {
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: left;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 50px;
    margin-left: 50px;

}

.intro-sub {
    color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 22px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 50px;
    margin-left: 50px;

}

.self-photo {
    width: 75%;
    height: 100%;
    /*    margin-left: 770px;*/
    margin-bottom: 27px;
    border-radius: 15px;
    padding: 5px;  
    border: 2.5px solid #D80621

}